
<div class="container">
  <h1>Here are our Movieslists</h1>

  <div class="container grid" id="listcontainer">
    <% @lists.each do |list|%>

      <ul>
        <li class="list-group-item"><div class="container" id="listcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @img, crop: :crop %>')"><%= link_to list.name, list_path(list)%></div></li>
      </ul>
      <%end%>
  </div>

</div>

<%#
<%=cl_image_tag("rnunhclgthyokpll3hfh",
      width: 800, height: 300, crop: :fill) '%'>

<%= cl_image_tag("dpuvv45njjzilyzd6dve",
width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%# <%= cl_image_tag("dpuvv45njjzilyzd6dve", transformation: [
  {gravity: "face", height: 200, width: 200, crop: "thumb"},
  {radius: "max"},
  {fetch_format: "auto"}
  ])%>
