<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/banner' %>
    <%= render 'shared/menu' %>


    <%= yield %>

    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>

  <% end %>
  </body>
</html>
